/* define fonts */
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

h1.title { /*titre général du document*/
  color: #173541; /*couleur titre*/
  font-size: 3.8em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  border-top: 0px; /*pas de ligne horizontale avant*/
  padding-left: 0px; /*tout à gauche, pas d'alinéa*/
  padding-top: 60px; /*espace avant titre*/
  margin-top: 30px; /*marge*/
}
h3.subtitle{ /*sous-titre*/
  color: #666666; /*couleur titre*/
  font-size: 2.5em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  padding-left: 0px; /*tout à gauche, pas d'alinéa*/
  padding-top: 0px; /*espace avant titre*/
}
h4.author { /*auteur*/
  color: #173541; /*couleur*/
  padding: 1px; /*espace autour texte*/
  font-size: 1.5em; /*taille*/
  font-family: "Open Sans Regular"; /*police*/
  font-weight: normal; /*pas en gras*/
}
h4.date { /*date*/
  color: #173541; /*couleur*/
  padding: 1px; /*espace autour texte*/
  padding-bottom: 10px;
  font-size: 1.5em; /*taille*/
  font-family: "Open Sans Regular"; /*police*/
  font-weight: normal; /*pas en gras*/
}
h1 { /*titre de niveau #1*/
  color: #E95459; /*couleur titre*/
  font-size: 3em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  border-top: .8px solid #CCCCCC; /*ligne horizontale avant titre*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
  padding-top: 30px; /*espace avant titre*/
  padding-bottom: 0px; /*espace après titre*/
  margin-top: 50px; /*espace avant ligne horizontale*/
}
h2 { /*titre de niveau #2*/
  color: #E95459; /*couleur titre*/
  font-size: 2.5em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  padding: 35px; /*alinéa*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
h3 { /*titre de niveau #3*/
  color: #E95459; /*couleur titre*/
  font-size: 2em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  padding: 25px; /*alinéa*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
h4 { /*titre de niveau #4*/
  color: #E95459; /*couleur titre*/
  font-size: 1.5em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  padding: 15px; /*alinéa*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
h5 { /*titre de niveau #5*/
  color: #E95459; /*couleur titre*/
  font-size: 1em; /*taille*/
  font-family: "Montserrat"; /*police*/
  font-weight: bold; /*gras*/
  padding: 5px; /*alinéa*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
body { /*corps de texte*/
  text-align: justify; /*texte justifié*/
  font-family: "Open Sans Regular"; /*police*/
  letter-spacing: 0px; /*pas d'espace entre les lettres*/
  list-style: disc inside; /*listes en bullet-points*/
}