/* define Quicksand and trade gothic fonts */
@font-face {
  font-family: "Open sans";
  src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Quicksand bold";
  src: url("fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand regular";
  src: url("fonts/Quicksand-Regular.ttf");
}

h1.title { /*titre général du document*/
  color: #323465; /*couleur titre*/
  font-size: 2.5em; /*taille*/
  font-family: "Quicksand bold"; /*police*/
  font-weight: bold; /*gras*/
  border-top: 0px; /*pas de ligne horizontale avant*/
  padding-left: 0px; /*tout à gauche, pas d'alinéa*/
  padding-top: 220px; /*espace avant titre*/
  margin-top: 30px; /*marge*/
  margin-bottom: 10px; /*marge*/
}
h1 { /*titre de niveau #1*/
  color: #323465; /*couleur titre*/
  font-size: 2.5em; /*taille*/
  font-family: "Quicksand bold"; /*police*/
  font-weight: bold; /*gras*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
  padding-top: 20px; /*espace avant titre*/
  padding-bottom: 10px; /*espace après titre*/
  margin-top: 50px; /*espace avant ligne horizontale*/
}
h2 { /*titre de niveau #2*/
  color: #bf0001; /*couleur titre*/
  font-size: 2em; /*taille*/
  font-family: "Quicksand bold"; /*police*/
  font-weight: bold; /*gras*/
  padding: 0px; /*alinéa*/
  padding-top: 30px; /*espace avant titre*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
h3 { /*titre de niveau #3*/
  color: #323465; /*couleur titre*/
  font-size: 1.8em; /*taille*/
  font-family: "Quicksand bold"; /*police*/
  font-weight: bold; /*gras*/
  padding: 10px; /*alinéa*/
  padding-top: 30px; /*alinéa*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
h4 { /*titre de niveau #4*/
  color: #bf0001; /*couleur titre*/
  font-size: 1.5em; /*taille*/
  font-family: "Quicksand regular"; /*police*/
  padding: 10px; /*alinéa*/
  padding-left: 0px; /*alinéa, espace à gauche du titre*/
}
h5 { /*titre de niveau #5*/
  color: #e73458; /*couleur titre*/
  font-size: 1em; /*taille*/
  font-family: "Quicksand regular"; /*police*/
  font-weight: bold; /*gras*/
  padding: 0px; /*alinéa*/
}
body { /*corps de texte*/
  text-align: justify; /*texte justifié*/
  font-size: 1.5em; /*taille*/
  font-family: "Open sans"; /*police*/
  letter-spacing: 0px; /*pas d'espace entre les lettres*/
  list-style: disc inside; /*listes en bullet-points*/
}
a:link { /*lien hyper texte*/
    color: #bf0001;
}
a:hover { /*souris au-dessus du lien hyper texte*/
    color: #bf0001;
}
a:visited { /*lien visité*/
    color: #f20001;
}